---
title: 'Analizar resultados de prueba de AEM Cloud Manager '
description: Explorar y corregir los resultados de los informes de AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Desarrollo
feature: Herramientas para desarrolladores
kt: 6917
thumbnail: 330540.jpg
translation-type: tm+mt
source-git-commit: e295d77a11c99310aaae10ecb8a2eaa20ad49285
workflow-type: tm+mt
source-wordcount: '84'
ht-degree: 8%

---


# Analizar los resultados de la prueba

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Analizar los resultados de la prueba"
>abstract="IExplore cualquier error de compilación en su código y si este código sigue o no las prácticas recomendadas para AEM como Cloud Service"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="Comprender los resultados de la prueba"

Explore cualquier error de compilación en su código y si este código sigue o no las prácticas recomendadas para AEM como Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)
