---
title: 'Analizar los resultados de la prueba de AEM Cloud Manager '
description: Explore y corrija los resultados de los informes desde AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
translation-type: tm+mt
source-git-commit: 5ac82928d4b0bf75b348a414793c24c3aca92f36
workflow-type: tm+mt
source-wordcount: '42'
ht-degree: 0%

---


# Analizar los resultados de la prueba

Explore los errores de compilación del código y si este código sigue o no las prácticas recomendadas para AEM como Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)