---
title: Analizar resultados de prueba de AEM Cloud Manager
description: Explorar y corregir los resultados de los informes de AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
source-git-commit: bca51ece7a9b249727b8746cc9654503059116fb
workflow-type: tm+mt
source-wordcount: '81'
ht-degree: 4%

---

# Analizar los resultados de la prueba {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Analizar los resultados de la prueba"
>abstract="IExplore cualquier error de compilación en su código y si este código sigue o no las prácticas recomendadas para AEM as a Cloud Service"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="Comprender los resultados de la prueba"

Explore cualquier error de compilación en su código y si este código sigue o no las prácticas recomendadas para AEM as a Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)
