---
title: Analizar resultados de pruebas de AEM Cloud Manager
description: Explorar y corregir los resultados de los informes de AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
jira: KT-6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
duration: 342
source-git-commit: f4c621f3a9caa8c2c64b8323312343fe421a5aee
workflow-type: tm+mt
source-wordcount: '72'
ht-degree: 45%

---

# Análisis de los resultados de la prueba {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Análisis de los resultados de la prueba"
>abstract="Explore los errores de compilación del código y si este sigue las prácticas recomendadas para AEM as a Cloud Service."
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=es#how-to-use" text="Comprender los resultados de la prueba"

Explore los errores de compilación del código y si este sigue o no las prácticas recomendadas para AEM as a Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/345718?quality=12&learn=on&captions=spa)
