---
title: AEM Analizar resultados de prueba de Cloud Manager de
description: AEM Explore y corrija los resultados de los informes de Cloud Manager de la aplicación de informes de la plataforma de administración de la nube de
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
jira: KT-6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
duration: 18
source-git-commit: f23c2ab86d42531113690df2e342c65060b5c7cd
workflow-type: tm+mt
source-wordcount: '72'
ht-degree: 45%

---

# Análisis de los resultados de la prueba {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Análisis de los resultados de la prueba"
>abstract="Explore los errores de compilación del código y si este sigue las prácticas recomendadas para AEM as a Cloud Service."
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=es#how-to-use" text="Comprender los resultados de la prueba"

AEM Explore los errores de compilación del código y si este sigue o no las prácticas recomendadas para el uso de código as a Cloud Service.

>[!VIDEO](https://video.tv.adobe.com/v/330540?quality=12&learn=on)
